[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "redis"]
	path = redis
	url = git@gitlab.slant.tech:open-source/c-redis-wrapper.git
[submodule "imgui-filedialog"]
	path = imgui-filedialog
	url = git@gitlab.slant.tech:engineering/software/library_maintenance/L2DFileDialog.git
[submodule "libs/hiredis"]
	path = libs/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "libs/yder"]
	path = libs/yder
	url = https://github.com/babelouest/yder.git
[submodule "libs/orcania"]
	path = libs/orcania
	url = https://github.com/babelouest/orcania.git
[submodule "libs/json-c"]
	path = libs/json-c
	url = https://github.com/json-c/json-c.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
