*.d
*.o
imgui.ini
pop
pop.exe
imgui/**/*.d
imgui/**/*.o
*.log
redis-server
redis.conf
.vscode
valgrind.log.*
xtleak.kcg.*
libs/install
libs/hiredis/build
libs/yder/build
libs/orcania/build
plugins/__pycache__
plugins/**/__pycache__
